header {
    height: 220px;
    background:  linear-gradient(180deg, #102347 0%, #181818 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rgmeta-log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rgmeta-log-container img {
    width: 235px;
}

.rgmeta-log-container h1 {
    margin-top: 15px;
    font-size: 24px;
}

.rgmeta-log-container p {
    font-size: 14px;
    font-weight: 300;
}

.rgmeta-log-container a {
    color: #4db57d;
}